body{font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;}
    h1{
        font-size: 50px;
    }
    .name-highlight{
        color: darkgreen;
    }
    p{
        font-size: 20px;
    }
    .half-width{
        width: 40%;
        float: left;
        margin-left: 5%;
        padding-left: 2%;
    }
    
    .half-width img{
        width: 100%;
    }
    .link-button{
        text-decoration: none;
        background-image: linear-gradient(45deg, lightpink, magenta);
        padding: 10px 20px;
        border-radius: 5px;
        font-weight: 700;
    }
    .first{
        padding-bottom: 150px;
    }